html, body {
	background-color: #333333;
	color: white;
	text-shadow: 1px 1px #222222;
	font-family: console;
	font-size: 20px;
}
#header-section {
	background-color: #333333;
	padding: 5px;
	padding-top: 25px;
	margin: -8px;
	position: fixed;
	width: 100%;
	font-size: 30px;
	border-bottom: solid 1px;
	z-index: 1;
}
#header-section ul {
	background-color: #555555;
	list-style-type: none;
	margin-left: 0px;
	margin-right: 15px;
	margin-bottom: 13px;
	margin-top: -8px;
	padding: 0;
	overflow: hidden;
	border-radius: 5px;
}
#header-section li {
	float: left;
	padding: 10px;
	margin: 0px;
}
#header-section a {
	color: white;
	text-decoration: none;
}
.command {
	padding: 5px;
	margin: 0;
	transition: 0.2s;
	border-radius: 3px;
}
.command:hover {
	background-color: #777777;
}
#dir {
	float: left;
	padding: 10px;
	margin: 0;
	margin-top: -8px;
}
#main-section {
	position: absolute;
	text-align: center;
	width: 99%;
	z-index: 0;
	top: 190px;
}
#main-section h1 {
	font-size: 50px;
}
#main-section h2 {
	text-align: center;
}
#main-section article {
	background-color: #555555;
	border-radius: 5px;
	width: 60%;
	text-align: left;
	padding: 30px;
	margin: auto;
	margin-top: 70px;
}
#main-section a {
	color: #ff6666;
}
#end-text {
	text-align: center;
}
.marked {
	color: #ffff00;
}
.blinking{
 	animation: blinkingText 1s infinite;
}
@keyframes blinkingText{
	0%{
		color: #ffffff;
		text-shadow: 1px 1px #222222;
	}
	49%{
		color: #ffffff;
		text-shadow: 1px 1px #222222;
	}
	50%{
		color: transparent;
		text-shadow: 1px 1px transparent;
	}
	99%{
		color: transparent;
		text-shadow: 1px 1px transparent;
	}
	100%{
		color: #ffffff;
		text-shadow: 1px 1px #222222;
	}
}
@font-face {
	font-family: console;
	src: url(fonts/consola.ttf);
}